/* Estilos generales */

@font-face {
    font-family: 'videophreak.regular';
    src: url('../webfonts/webfontkit-Videophreak/videophreak.regular-webfont.woff2') format('woff2'),
        url('../webfonts/webfontkit-Videophreak/videophreak.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

a {
    color: #ffffff;
    text-transform: initial;
    text-decoration: none;
}

body {
    font-size: 23px;
    font-family: "Roboto Mono", Roboto, monospace;
    letter-spacing: 0.15em;
    background-color: #000000;
}


p {
    padding-left: 6%;
    text-align: left;
    margin-top: 200px;
    width: 800px;
    margin: 10px auto, 40px;
    font-weight: normal;
    line-height: 2;
    width: 60%;
    height: 100%;
}

/*bold purple paragraph text */
span.purple-inline-text {
    font-size: 23px;
    font-weight: bold;
    font-family: "Roboto Mono", Roboto, monospace;
    letter-spacing: 0.15em;
    color: #6910AE;
}

/* Logo & close icons */
.isotipo-solo {
    position: fixed;
    width: 7%;
    right: 5%;
    top: 1.5%;
    visibility: show;
    z-index: 1;
}

.logo {
    position: fixed;
    width: 7%;
    right: 5%;
    top: 1.5%;
    visibility: show
}

.close-icon {
    position: fixed;
    width: 90px;
    right: 5%;
    visibility: show;
}


@media (max-width: 450px) {
    .close-icon {
        position: fixed;
        width: 50px;
        right: 5%;
        visibility: show;
    }
}

/* Homepage */
/* apply the background image to a 'body' element with the class 'homepage' */
body.homepage {
    background-image: url('../img/backgrounds/index.jpg');
    /* background-repeat: no-repeat;*/
    background-size: 100%;
}

/* apply the style to an 'h1' element that is inside a 'body' element with the class 'homepage' */
body.homepage h1 {
    font-family: 'videophreak.regular';
    padding-left: 15%;
    padding-top: 3%;
    font-size: 60px;
    text-align: left;
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
}


@media (max-width: 450px) {
    body.homepage h1 {
        font-family: 'videophreak.regular';
        padding-left: 15%;
        margin-top: 50px;
        font-size: 1.5em;
        color: #ffffff;
        position: relative;
        top: 100px;
    }
}


/* My Work */

/* 
    apply the style to all 'h1' elements that are inside a 'body' element 
    with the class 'my-work'.   Here we can put all the properties that
    these kind of elements have in common.  
    Like that you avoid code duplication, and also if you need to do a change,
    you just have to do it in one place. 
*/

body.my-work {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url('../img/backgrounds/20220927_203520.png');
    background-size: 100%;
}

body.my-work h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8em;
    text-align: left;
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
}

body.my-work h1.link {
    line-height: 60px;
    padding-top: 5%;
}

/* 
    apply the style to an 'h1' element with class 'glitch-link' 
    that is inside a 'body' element with the class 'my-work' 
*/
body.my-work h1.glitch-link {
    padding-top: 5%;
    margin-left: 5%;
}

body.my-work h1.ai-art-link {
    margin-left: 20%;
}

body.my-work h1.design-link {
    margin-left: 30%;
}

body.my-work h1.self-portrait-link {
    margin-left: 40%;
}

body.my-work h1.bizarre-photography-link {
    margin-left: 50%;
}

@media (max-width: 900px) {
    body.my-work {
        font-size: 1em;
    }

    body.my-work h1.link {
        margin-left: 0px;
        padding-left: 5%;
        margin-top: 40px;
    }
}

body.my-work-subsection {
    background-color: white;
}

/* Contact */
body.contact {
    background-image: url('../img/backgrounds/Catacombs_of_Solaris_20220522_085711_4.png');
    /* background-repeat: no-repeat;*/
    background-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body.contact h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    text-align: left;
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
}

/* apply the style to an 'span' element that is inside a 'body' element with the class 'contact' */
body.contact span.contact-header {
    padding-left: 3.5%;
    font-size: 2em;
    color: #ffffff;
    font-family: 'videophreak.regular';
}

body.contact h1.link {
    line-height: 60px;
    padding-top: 5%;
}

body.contact h1.github-link {
    margin-left: 5%;
}

body.contact h1.instagram-link {
    margin-left: 20%;
}

body.contact h1.linkedin-link {
    margin-left: 30%;
}

body.contact h1.email-link {
    margin-left: 40%;
}

@media (max-width: 900px) {
    body.contact {
        font-size: 10px;
    }

    body.contact span.contact-header {
        padding-left: 3.5%;
        font-size: 30px;
        color: #ffffff;
        font-family: 'videophreak.regular';
    }

    body.contact h1.link {
        margin-left: 0px;
        padding-left: 5%;
        margin-top: 20px;
    }
}

h1.big-purple-title {
    padding-left: 3.5%;
    padding-top: 5%;
    font-size: 90px;
    text-align: left;
    color: #6910AE;
    width: 100%;
    height: 100%;
    position: relative;
    top: 150px;
    left: 2%;
    font-family: 'Roboto Mono', monospace;
}

/*About Me*/
body.about-me {
    padding-left: 5%;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

body.about-me .intro {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 100px;
}

body.about-me .intro-text {
    text-align: left;
    margin-top: 0px;
    width: 100%;
}

body.about-me img.me {
    max-width: 30%;
}

body.about-me hr.hobbies-horizontal-rule {
    margin-top: 100px;
}

body.about-me div.hobbies {
    width: 90%;
    padding: 15px;
    margin: 20px auto 30px auto;
    text-align: center;
}


body.about-me ul.skills {
    width: 60%;
    padding: 15px;
    margin: 20px auto 30px auto;
    text-align: center;
}

body.about-me ul.skills li {
    display: inline;
    margin: 0px 3px;
}

@media (max-width: 900px) {
    body.about-me img.me {
        max-width: 50%;
    }

    body.about-me .intro {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 100px;
    }

    body.about-me .intro-text {
        text-align: center;
        margin-top: 40px;
        width: 100%;
    }
}


/* Image grids */
.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    padding-top: 150px;
    /*espaciado antes del texto*/

    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

/* Media queries for responsiveness on smaller screens */
@media (max-width: 600px) {
    #sidebar {
        width: 100%;
        float: none;
    }
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }
}